@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap&subset=cyrillic-ext");
/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: Roboto;
}

/*--------------------------------*/
.container {
  max-width: 1446px;
  width: 100%;
  margin: 0px auto;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: #181617;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.2);
}

.navigation__link-active {
  color: #ffffff;
}

.navigation__list > li:not(:first-child) {
  margin-left: 40px;
}

.burger {
  display: none;
}

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

/*---------------*/
@media (max-width: 768px) {
  .navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .burger {
    display: block;
    position: absolute;
    width: 26px;
    height: 18px;
    -webkit-transform: translate(1050%, 0);
            transform: translate(1050%, 0);
  }
  .burger span {
    position: absolute;
    background-color: #70573d;
    width: 100%;
    height: 2px;
    top: -5px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    background-color: #70573d;
    width: 100%;
    height: 2px;
    top: -10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -9px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu {
    top: -20%;
    position: absolute;
    -webkit-transform: translate(-8%, 0);
            transform: translate(-8%, 0);
  }
  .menu.active {
    padding: 90px 0px 0px 0px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: relative;
  }
  .logo {
    position: absolute;
    top: 35px;
  }
  .navigation__link {
    position: relative;
  }
}
