@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap&subset=cyrillic-ext");

/*Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	font-family: Roboto;
}

.btn {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	background-color: #181617;
	border: 0.5px solid #a07b50;
	padding: 16px 36px;

	@media (max-width: 767px) {
		font-size: 12px;
		line-height: 14px;
		padding: 15px 16px;
	}
}
/*--HEADER, WRAPPER, CONTAINER------------------------------*/
header {
	position: relative;
	background-color: #181617;
	.wrapper {
		position: relative;
		max-width: calc(1366px + 2 * 40px);
		padding-top: 52px;
		padding-bottom: 52px;
		margin: 0px auto;
	}
}

@media (max-width: 767px) {
	header {
		.wrapper {
			padding-top: 30px;
			padding-bottom: 25px;
			justify-content: flex-end;
		}
	}
}

.container {
	position: relative;
	margin: 0px auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	max-width: calc(966px + 2 * 40px);
}

@media (max-width: 1365px) {
	.container {
		width: 100%;
		padding-left: 41px;
		padding-right: 41px;
	}
}

@media (max-width: 767px) {
	.container {
		justify-content: center;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*-------------MENU AND BURGER----------------------------------*/

.mobile-menu {
	display: none;
	background-color: #181617;
	justify-content: center;
	transition: all 0.3s ease 0s;
}

.navigation {
	&__list {
		display: flex;
	}

	&__link {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: rgba(255, 255, 255, 0.2);
	}

	&__link-active {
		color: #ffffff;
	}
}

.navigation__list > li:not(:first-child) {
	margin-left: 32px;
}

.burger {
	display: none;
	width: 26px;
	height: 18px;
	cursor: pointer;

	span {
		display: block;
		background-color: #70573d;
		width: 100%;
		height: 2px;
		transition: all 0.5s ease 0s;
		margin: 6px 0;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		background-color: #70573d;
		width: 100%;
		height: 2px;
		transition: all 0.5s ease 0s;
	}

	&.active span {
		transform: scale(0);
	}

	&.active::before {
		transform: rotate(45deg) translate(0, 12px);
	}

	&.active::after {
		transform: rotate(-45deg) translate(0, -12px);
	}
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

a:hover {
	color: rgba(255, 255, 255, 0.7);
}

/*-------------MENU AND BURGER < 767px --------------------------------*/
@media (max-width: 767px) {
	.navigation__link {
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
	}

	.logo a img {
		width: 50px;
		height: 22px;
	}

	.burger {
		display: block;
	}

	nav.menu {
		display: none;
	}

	.mobile-menu.active {
		display: flex;
		margin-top: 30px;
		margin-bottom: -20px;
	}
}
/*---------------HERO-------------------*/
.hero {
	background-color: #181617;
	position: relative;
	overflow: hidden;
	padding: 60px 0 180px 0;

	&__subtitle,
	&__description {
		font-style: normal;
		line-height: 24px;
		color: #a07b50;
	}

	&__title {
		margin-top: 16px;
		font-family: Yeseva One;
		font-size: 52px;
		line-height: 60px;
	}

	&__description {
		margin-top: 30px;
	}

	&__btn {
		margin-top: 48px;
	}
}

.hero__social-media {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 280px;
	left: -100px;
	padding: 0;

	&:before {
		content: "";
		display: block;
		width: 0.5px;
		height: 78px;
		background: rgba(255, 255, 255, 0.61);
	}

	& > li:first-child {
		margin-top: 30px;
	}

	& > li:not(:first-child) {
		margin-top: 15px;
	}
}

.hero:before {
	content: "";
	position: absolute;
	background-image: url(../images/cover.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 1366px;
	height: 682px;
	right: -343px;
	bottom: 0;
}

/*-----------HERO < 1365px---------------------------*/
@media (max-width: 1365px) {
	.hero__social-media {
		position: absolute;
		display: flex;
		flex-direction: row;
		top: 400px;
		left: 41px;

		& > li:first-child {
			margin-top: 0px;
		}

		& > li:not(:first-child) {
			margin-top: 0px;
			margin-left: 20px;
		}
	}

	.hero__social-media::before {
		display: none;
	}

	.hero:before {
		position: absolute;
		background-image: url(../images/cover.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 533px;
		right: -680px;
	}
}
/*-----------HERO < 767px----------------------------*/
@media (max-width: 767px) {
	.burger {
		display: block;
		position: absolute;
		right: 24px;
	}

	.hero {
		text-align: center;
		padding-top: 25px;
		padding-bottom: 280px;

		&__subtitle,
		&__description {
			font-size: 14px;
			font-style: normal;
			line-height: 20px;
			color: #a07b50;
		}

		&__title {
			margin-top: 16px;
			font-family: Yeseva One;
			font-size: 36px;
			line-height: 42px;
		}

		&__description {
			margin-top: 16px;
		}

		&__btn {
			margin-top: 40px;
		}

		&__social-media {
			display: none;
		}

		&:before {
			position: absolute;
			background-image: url(../images/cover.png);
			background-repeat: no-repeat;
			background-size: contain;
			height: 290px;
			right: -932px;
		}
	}
}
/*--------------PETS------------------------*/

.pets {
	position: relative;
	background: #1f1c1d;
	overflow: hidden;

	&__title {
		font-family: Yeseva One;
		font-size: 36px;
		line-height: 42px;
		padding-top: 230px;
		margin: 0px auto;
	}

	&__text {
		font-weight: 300;
		line-height: 26px;
		color: #a07b50;
		max-width: 520px;
		margin: 0px auto;
		margin-top: 35px;
		margin-bottom: 55px;
		text-align: center;
	}

	&__list {
		display: flex;
		margin: 0px auto;
		margin-bottom: 50px;
	}

	&__link {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: rgba(255, 255, 255, 0.2);
	}

	&__link-active {
		color: #ffffff;
	}

	&__btn {
		margin: 55px auto 0;
		background: #1f1c1d;
	}
}

.pets__list > li:not(:first-child) {
	margin-left: 45px;
}

.pets__slider-button {
	display: none;
	cursor: pointer;
	position: absolute;
	border: 0;
	background: transparent;
	top: 50%;
	transform: translateY(-50%);
}

.pets__slider-button--left {
	left: 0;
}

.pets__slider-button--right {
	right: 0;
}

.pets__photo {
	display: grid;
	grid-row-gap: 30px;
	grid-column-gap: 35px;
	grid-template-columns: 517px 471px;
	grid-template-rows: 244px 241px;
}

button.pets__arrow:hover {
	color: #a07b50;
	cursor: pointer;
	opacity: 0.5;
}

/*-------------- PETS < 1365px ------------------------*/

@media (max-width: 1365px) {
	.pets {
		&__title {
			padding-top: 110px;
		}

		&__slider {
			display: flex;
			max-width: 800px;
			width: 100%;
			height: 485px;
			margin: 0 auto;
		}

		.pets__slider-button {
			display: block;
		}

		&__photo {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		&__photo-right {
			transform: translate(10%, 170%);
		}

		&__photo-center {
			z-index: 1;
		}

		&__photo-left {
			transform: translate(-10%, -185%);
		}
	}
}
/*-------------- PETS < 767px ------------------------*/

@media (max-width: 767px) {
	.pets {
		&__title {
			font-size: 28px;
			line-height: 32px;
			padding-top: 60px;
		}

		&__text {
			font-size: 14px;
			line-height: 20px;
			max-width: 285px;
			margin-top: 35px;
			margin-bottom: 40px;
		}

		&__list {
			margin-bottom: 40px;
		}

		&__link {
			font-size: 16px;
			line-height: 19px;
		}

		&__slider {
			min-width: 284px;
			max-width: 380px;
			height: 248px;
		}

		&__photo-center {
			width: 234px;
			height: 248px;
		}
		&__photo-left,
		&__photo-right {
			display: none;
		}
		&__button {
			font-size: 12px;
			line-height: 14px;
			margin-top: 55px;
			padding: 15px 16px;
		}
	}
}
/*------------------- FEATURES ------------*/

.features {
	padding-top: 90px;
	position: relative;
	background: #1f1c1d;

	&__title {
		font-family: Yeseva One;
		font-size: 36px;
		line-height: 42px;
		margin: 0px auto;
	}

	&__text {
		max-width: 750px;
		font-weight: 300;
		line-height: 26px;
		color: #a07b50;
		margin: 0px auto;
		margin-top: 35px;
		text-align: center;
	}

	&__cat {
		margin: 0 auto;
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 192px;
			left: 24px;
			z-index: -1;
			width: 519px;
			height: 519px;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.5);
		}

		&::after {
			content: "";
			position: absolute;
			top: 135px;
			left: -30px;
			z-index: -1;
			border-radius: 50%;
			width: 631px;
			height: 631px;
			border: 1px solid #a07b50;
		}
	}
}

.features__mobile-list {
	display: none;
}

.features__description {
	position: absolute;
	font-weight: 300;
	font-size: 16px;
	line-height: 23px;
	color: #ffffff;

	&:nth-of-type(1) {
		top: 270px;
		left: -273px;
		text-align: right;
		max-width: 270px;
	}
	&:nth-of-type(2) {
		top: 564px;
		left: -213px;
		text-align: right;
		max-width: 200px;
	}
	&:nth-of-type(3) {
		top: 386px;
		right: -208px;
		max-width: 200px;
	}
	&:nth-of-type(4) {
		top: 597px;
		right: -139px;
		max-width: 170px;
	}

	&::before {
		content: "";
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: #a07b50;
		border-radius: 50%;
	}

	&:nth-of-type(1)::before {
		top: 5px;
		left: 285px;
	}
	&:nth-of-type(2)::before {
		top: 5px;
		left: 204px;
	}
	&:nth-of-type(3)::before {
		top: 4px;
		right: 206px;
	}
	&:nth-of-type(4)::before {
		top: 4px;
		right: 175px;
	}
}
/*--------------FEATURES < 1365PX -----------------------*/

@media (max-width: 1365px) {
	.features {
		&__text {
			max-width: 500px;
		}

		&__cat {
			display: flex;
			transform: translate(5%);

			img {
				width: 400px;
			}

			&::before {
				top: 118px;
				left: 16px;
				width: 342px;
				height: 342px;
			}

			&::after {
				top: 79px;
				left: -25px;
				width: 417px;
				height: 417px;
			}
		}
	}

	.features__description {
		&:nth-of-type(1) {
			top: 174px;
			left: -216px;
			max-width: 190px;
			text-align: right;
		}
		&:nth-of-type(2) {
			top: 376px;
			left: -176px;
			max-width: 160px;
			text-align: right;
		}
		&:nth-of-type(3) {
			top: 242px;
			right: -156px;
			max-width: 150px;
		}
		&:nth-of-type(4) {
			top: 393px;
			right: -107px;
			max-width: 130px;
		}

		&:nth-of-type(1)::before {
			top: 6px;
			left: 211px;
		}
		&:nth-of-type(2)::before {
			top: 4px;
			left: 170px;
		}
		&:nth-of-type(3)::before {
			top: 5px;
			right: 160px;
		}
		&:nth-of-type(4)::before {
			top: 3px;
			right: 144px;
		}
	}
}
/*--------------FEATURES < 767PX -----------------------*/

@media (max-width: 767px) {
	.features {
		padding-top: 60px;
		padding-bottom: 60px;

		&__title {
			font-size: 28px;
			line-height: 32px;
			text-align: center;
		}

		&__text {
			max-width: 315px;
			font-size: 14px;
			line-height: 20px;
		}

		&__cat {
			display: flex;

			img {
				width: 267px;
			}

			&::before {
				top: 78px;
				left: 13px;
				width: 230px;
				height: 230px;
			}

			&::after {
				top: 52px;
				left: -15px;
				width: 280px;
				height: 280px;
			}
		}
	}

	.features__mobile-list {
		display: block;
		line-height: 20px;
		font-size: 14px;
		max-width: 260px;
	}

	.features__mobile-item::before {
		content: "";
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #a07b50;
		border-radius: 50%;
		transform: translate(-15px, 5px);
	}

	.features__description {
		display: none;
	}

	.features__mobile-item:not(:first-child) {
		margin-top: 30px;
	}
}

/*-------------------ABOUT------------------------*/

.about {
	position: relative;
	background: #151313;
	padding-top: 90px;
	padding-bottom: 100px;

	&__title {
		font-family: Yeseva One;
		font-size: 36px;
		line-height: 42px;
		margin: 0px auto;
	}

	&__text {
		font-size: 16px;
		line-height: 23px;
		text-align: center;
		color: #a07b50;
		margin: 35px auto 55px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: calc(100% + 20px);
		margin: -20px 0 0 -20px;

		& > * {
			margin: 20px 0 0 20px;
		}
	}

	&__item {
		background: #1f1c1d;
		padding: 16px 18px;
	}

	&__item-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 12px 24px;

		&:hover {
			background: #a07b50;

			svg {
				fill: #ffffff;
				stroke: #a07b50;
			}
		}
	}

	.about__item-icon {
		margin-top: 20px;
	}

	&__description {
		margin-top: 36px;
		font-weight: 300;
		line-height: 26px;
		text-align: center;
		color: #ffffff;
		max-width: 230px;
	}
}

/*-------------------ABOUT < 767px------------------------*/
@media (max-width: 767px) {
	.about {
		padding-top: 75px;
		padding-bottom: 60px;

		&__title {
			font-size: 28px;
			line-height: 32px;
		}

		&__text {
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			margin: 35px auto 40px;
		}

		&__description {
			font-size: 14px;
			line-height: 20px;
			width: 210px;
		}
	}
}

/*-------------------CARE------------------------*/
.care {
	background-image: url(../images/care/care_cat.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;

	&__title {
		font-family: Yeseva One;
		font-size: 36px;
		line-height: 42px;
		margin: 0px auto;
	}

	&__list {
		margin: 55px auto 0;
	}

	&__list {
		display: grid;
		grid-row-gap: 30px;
		grid-column-gap: 35px;
		grid-template-columns: 500px 500px;
	}

	&__item {
		position: relative;
		cursor: pointer;
		border: 0.5px solid #a07b50;
		padding: 35px 70px 40px 30px;
		height: 165px;
	}

	&__item:hover {
		background-color: #181617;
		.care__arrow {
			background-color: #181617;
			border-left: 0.5px solid #a07b50;
		}
	}

	&__subtitle {
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		color: #a07b50;
	}

	&__description {
		font-weight: 300;
		font-size: 14px;
		line-height: 23px;
		width: 390px;
		color: #ffffff;
		margin-top: 15px;
	}

	&__arrow {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		width: 60px;
		height: 100%;
		background: #a07b50 url(../images/care/Vector.svg) no-repeat 50% 50%;
	}
}

/*-------------------CARE < 1365px ------------------------*/
@media (max-width: 1365px) {
	.care {
		padding-top: 90px;

		&__list {
			display: block;
			margin: 30px auto 0;
		}

		&__item {
			height: 168px;
			background: rgba(0, 0, 0, 0.3);
		}

		&__item:nth-child(-n + 3) {
			margin-bottom: 20px;
		}

		&__description {
			width: 390px;
		}
	}
}
/*-------------------CARE < 767px ------------------------*/
@media (max-width: 767px) {
	.care {
		padding-top: 60px;
		padding-bottom: 60px;

		&__title {
			font-size: 28px;
			line-height: 32px;
			text-align: center;
		}

		&__list {
			margin-top: 40px;
		}

		&__item {
			padding: 20px 60px 20px 20px;
		}

		&__item:nth-child(-n + 3) {
			margin-bottom: 30px;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 21px;
		}

		&__description {
			line-height: 20px;
			width: 210px;
		}

		&__arrow {
			width: 45px;
		}
	}
}

/*----------------------- TEAM --------------------*/
.team {
	background: #151313;
	padding-top: 80px;
	padding-bottom: 80px;

	&__title {
		font-family: Yeseva One;
		font-size: 36px;
		line-height: 42px;
		margin: 0px auto;
	}
	&__text {
		font-size: 16px;
		line-height: 25px;
		color: #a07b50;
		margin: 30px auto 25px;
		max-width: 510px;
		text-align: center;
	}
	&__slider {
		position: relative;
		margin: 0 auto;
		width: 660px;
		background: #1f1c1d;
		padding: 70px 100px;
		border: 24px solid #151313;
		outline: 0.5px solid rgba(160, 123, 80, 0.43);
		left: 150px;
	}
	&__photo {
		position: absolute;
		overflow: hidden;
		width: 360px;
		height: 356px;
		left: -320px;
		top: -26px;
	}
	&__photo-inner {
		position: relative;
		width: 300%;
		display: flex;
		left: 0;
		transition: all ease 0.3s;
	}
	&__photo-second {
		left: auto;
		right: -360px; //??
		top: auto;
	}
	&__photo-third {
		left: auto;
		right: -720px;
		top: auto;
	}

	&__name {
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
		color: #a07b50;
	}

	&__job {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 10px;
		color: #a07b50;
	}

	&__description {
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	&__social {
		display: flex;

		& > li:not(:first-child) {
			margin-left: 10px;
		}
	}

	&__slider-button {
		position: absolute;
		background-color: transparent;
		cursor: pointer;
		border: none;
		top: 50%;
	}
	&__slider-button--left {
		left: -400px;
	}
	&__slider-button--right {
		right: -100px;
	}
}
/*-------------------TEAM < 1365px ------------------------*/
@media (max-width: 1365px) {
	.team {
		&__photo img {
			width: 207px;
			height: 209px;
		}
	}
}
/*-------------------TEAM < 767px ------------------------*/
@media (max-width: 767px) {
	.team {
		&__photo img {
			width: 126px;
			height: 126px;
		}
	}
}

/*------------------QUESTION ----------------------------------*/

.question {
	background: #1f1c1d;
	padding-top: 75px;

	&__title {
		font-family: Yeseva One;
		font-size: 36px;
		line-height: 42px;
		margin: 0px auto;
		text-align: center;
	}

	&__text {
		font-size: 16px;
		line-height: 25px;
		color: #a07b50;
		margin: 25px auto 55px;
		text-align: center;
	}

	&__list {
		width: 800px;
		margin: 0 auto;
		counter-reset: num;
	}
	&__item {
		position: relative;
	}
	&__item::before {
		position: absolute;
		content: "0" counter(num);
		counter-increment: num;
		left: -100px;
		font-weight: 700;
		font-size: 70px;
		line-height: 82px;
		color: #a07b50;
	}

	ol > li:not(:last-child) {
		margin-bottom: 35px;
	}

	&__click {
		display: flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		color: #ddd0c3;
		text-align: start;
		padding: 35px 200px 35px 40px;
		width: 100%;
		background-color: transparent;
		border: 0.5px solid #a07b50;
		cursor: pointer;
	}

	&__button {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 104px;
		border-left: 0.5px solid #a07b50;
		cursor: pointer;
	}

	&__button::before {
		width: 2px;
		height: 18px;
	}
	&__button::after {
		width: 18px;
		height: 2px;
	}
	&__button::before,
	&__button::after {
		position: absolute;
		content: "";
		transform: translate(-50%, -50%);
		background-color: #a07b50;
		top: 50%;
		left: 50%;
	}

	.question__click:focus .question__button:after,
	.question__click:focus .question__button:before,
	.question__click:hover .question__button:after,
	.question__click:hover .question__button:before {
		background-color: #fff;
	}

	.question__click:focus .question__button,
	.question__click:hover .question__button {
		background-color: #a07b50;
	}

	&__answer {
	}

	&__answer-inner {
		padding: 35px 200px 35px 40px;
		border: 0.5px solid #a07b50;
		display: none;
	}

	.question__item.active .question__answer-inner {
		display: block;
	}

	&__description-part1,
	&__description-part2 {
		font-size: 16px;
		font-weight: 300;
		line-height: 25px;
		color: #ddd0c3;
	}

	&__description-part1 {
		margin-bottom: 20px;
	}

	&__btn {
		margin: 35px 120px 35px auto;
		background: #1f1c1d;
	}
}
